// color collection
:root {
  --border-color: #dde2e7;
  --text-color: #1a1a1a;
  --timepublish-color: #b0b0b0;

  --text-btn-color: #ffffff;
  --background-btn-color: #375573;
  
  --footer-background: #dde2e7;
  --footer-text-color: #8e9399;
}