// color collection
:root {
  --border-color: #dde2e7;
  --text-color: #1a1a1a;
  --timepublish-color: #b0b0b0;

  --text-btn-color: #ffffff;
  --background-btn-color: #375573;

  --footer-background-color: #dde2e7;
  --footer-text-color: #8e9399;

  --footer-copyright-background: #e8ebee;
  --footer-copyright-text: #b7babe;

  --pagination-normal-color: #0c0c0c;
  --pagination-active-color: #e84c50;
}
