// General rules
.footer {
  display: flex;
  flex-direction: column;
  background: var(--footer-background-color);

  .social-media {
    margin-top: rem(60);
  }
}

.footer-content,
.footer-socials {
  @include col;
  display: flex;
}

// Footer content component style
.footer-content {
  @include size(9);

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: rem(60);
    margin-bottom: rem(70);
    width: 100%;
  }

  &__item {
    width: 33%;
    padding-bottom: rem(20);
  }

  &__link {
    @include font(em(16), 500);
    color: var(--footer-text-color);
  }
}

// Footer socials component style
.footer-socials {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  // @include size(3);

  &__list {
    display: flex;
    margin-top: rem(60);
  }

  &__item {
    padding-right: rem(30);
  }

  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
  }

  &__image {
    width: rem(22);
    height: rem(22);
  }
}

// Footer copyright component style
.footer-copyright {
  @include size(12);
  background: var(--footer-copyright-background);
  width: 100%;

  &__text {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: rem(25);
    margin-bottom: rem(25);
    @include font(em(14), 500);
    color: var(--footer-copyright-text);
  }
}
