// General rules
.header {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #dde2e7;

  &__left_side {
    @include col;
    @include size(2);
  }

  &__centered {
    @include col;
    @include size(8);
  }

  &__right_side {
    @include col;
    @include size(2);
  }
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  // padding-left: 60px;

  &__image {
    width: rem(22);
    height: rem(22);
  }
}

.header-content {
  display: flex;
  align-items: center;
  @include col;
  @include size(12);

  &__logo {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 55px;
    margin: auto;
    flex-basis: content;
  }

  &__btn {
    display: flex;
  }
}

.social-media {
  display: flex;
  align-items: center;
  width: 70px;
}

.btn__subscribe {
  display: flex;
  width: 70px;
}
