<div class="post">
  <h2 class="post__title">Austin DIY sriracha polaroid sartorial la croix.</h2>

  <div class="post__info">
    <time
      class="post__timepublish"
      datetime="2019-12-26"
      >December 26, 2019
    </time>
    <span class="post__commentscount"> - 5 comments</span>
  </div>

  <div class="post__content">
    <img
      class="post__image"
      src="img/decor/posts/dec-post-1.webp"
      alt="" />
    <p class="post__description">
      Austin DIY sriracha polaroid sartorial la croix. Air plant vexillologist tilde listicle try-hard tousled. Drinking vinegar flexitarian tumblr, chia aesthetic lyft yuccie. Vegan jean shorts swag, single-origin coffee beard quinoa street art activated charcoal chartreuse whatever. Ramps mlkshk
      hammock, disrupt butcher poutine ethical prism photo booth keffiyeh franzen edison bulb hoodie master cleanse. Gastropub tofu schlitz, coloring book 3 wolf moon ennui gochujang tousled meggings hot chicken listicle. YOLO plaid fanny pack jean shorts pop-up truffaut tousled kombucha salvia
      whatever fixie tacos swag man bun migas.
    </p>
  </div>

  <!-- <div class="post-content__more">
    <a class="post-content__btn" href="#">read more</a>
    <ul class="post-content__socials">
      <li class="post-content__socials__item">
        <a href="#!">
          <img src="img/icons/ic-whatsapp.svg" alt="">
        </a>
      </li>
      <li>
        <a href="#!">
          <img src="img/icons/ic-instagram.svg" alt="">
        </a>
      </li>
      <li>
        <a href="#!">
          <img src="img/icons/ic-twitter.svg" alt="">
        </a>
      </li>
      <li>
        <a href="#!">
          <img src="img/icons/ic-facebook.svg" alt="">
        </a>
      </li>
    </ul>
  </div> -->
</div>
