<div class="post">
  <h2 class="post__title">@@postTitle</h2>

  <div class="post__info">
    <time
      class="post__timepublish"
      datetime="@@postTime">
      @@postTimePublish
    </time>
    <span class="post__commentscount">@@postCommentsCount</span>
  </div>

  <div class="post__content">
    <img
      class="post__image"
      src="@@postImagePath"
      alt="" />
    <p class="post__description">@@postContent</p>
  </div>

  <div class="post-more">
    <a
      class="post-more__btn"
      href="#">
      read more
      <img
        class="post-more__btn__arrow"
        src="img/icons/ic-arrow.svg"
        alt="" />
    </a>

    <ul class="post-more__socials">
      <li class="post-more__socials__item">
        <a
          class="post-more__socials__link"
          href="#!">
          <img
            class="post-more__socials__image"
            src="img/icons/ic-whatsapp.svg"
            alt="" />
        </a>
      </li>
      <li class="post-more__socials__item">
        <a
          class="post-more__socials__link"
          href="#!">
          <img
            class="post-more__socials__image"
            src="img/icons/ic-instagram.svg"
            alt="" />
        </a>
      </li>
      <li class="post-more__socials__item">
        <a
          class="post-more__socials__link"
          href="#!">
          <img
            class="post-more__socials__image"
            src="img/icons/ic-twitter.svg"
            alt="" />
        </a>
      </li>
      <li class="post-more__socials__item">
        <a
          class="post-more__socials__link"
          href="#!">
          <img
            class="post-more__socials__image"
            src="img/icons/ic-facebook.svg"
            alt="" />
        </a>
      </li>
    </ul>
  </div>
</div>
