<article class="recent-post">
  <h3 class="recent-post__title">Recent posts</h3>

  <div class="micro-post">
    <img
      src="img/decor/microblog/dec-microblog-1.webp"
      alt="Austin DIY sriracha polaroid sartorial la croix."
      class="micro-post__image" />
    <a
      href="#"
      class="micro-post__description">
      Austin DIY sriracha polaroid sartorial la croix.
    </a>
    <div class="micro-post__info">
      <time
        class="micro-post__timepublish"
        datetime="2019-12-26"
        >December 26, 2019
      </time>
      <span class="micro-post__commentscount"> - 5 comments</span>
    </div>
  </div>
</article>
