<ul class="social-media">
  <li class="social-media__item">
    <a
      class="social-media__link"
      href="#">
      <img
        class="social-media__image"
        src="@@icInstagram"
        alt="" />
    </a>
  </li>
  <li class="social-media__item">
    <a
      class="social-media__link"
      href="#">
      <img
        class="social-media__image"
        src="@@icTwitter"
        alt="" />
    </a>
  </li>
  <li class="social-media__item">
    <a
      class="social-media__link"
      href="#">
      <img
        class="social-media__image"
        src="@@icFacebook"
        alt="" />
    </a>
  </li>
</ul>
